.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 20%;
  border-collapse: collapsed;
}

.table th {
  padding: 5px;
  background: #efefef;
  border: 1px solid #ddd;
  border-collapse: collapsed;
}

.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
  border-collapse: collapsed;
}
