.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.todo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
