/* App.css */
/* App.css */
/* App.css */
.app {
  display: grid;
  grid-template:
    'header header'
    'navbar content' / 1fr 4fr; /* Указываем ширину колонок явно */
  gap: 20px;
  padding: 20px;
}

/* Применяем гридовую область для Header компоненты */

/* Применяем гридовую область для Navbar компоненты */

/* Применяем гридовую область для Profile компоненты */
