.wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 49em;
  background: #2a2c36;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid #62d7fb 3px;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin: 10px auto;
}

.counter-button {
  width: 300px;
  height: 60px;
  border: solid #62d7fb 3px;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.counter-input {
  display: flex;
  flex-direction: column;
}
